/* Hide unwatched episode count */
.countIndicator {
	display: none;
}

/* Hide watched status */
.playedIndicator {
	display: none;
}

/* Hide shuffle */
.btnShuffle {
	display: none !important;
}

/* Hide writers */
.writersGroup {
	display: none;
}

/* Hide series airtime */
#seriesAirTime {
	display: none;
}

/* Hide tags */
.itemTags {
	display: none;
}

/* Hide external database links */
.itemExternalLinks {
	display: none;
}

/* Hide "Next Up" section */
div.nextUpSection {
	display: none;
}

/* Hide "More From Season" section */
.moreFromSeasonSection {
	display: none;
}

/* Hide birth place on actor page */
#itemBirthLocation {
	display: none;
}

/* Hide episodes on actor page */
.verticalSection[data-type="Episode"] {
	display: none;
}

/* Hide chapter skip buttons on video player */
.btnPreviousChapter,
.btnNextChapter {
	display: none;
}

/* Hide rating */
.mediaInfoItem {
	margin: 0 0 0 1em !important;
}
.mediaInfoItem:first-child {
	margin-left: 0 !important;
}
.starIcon, 
.starRatingContainer, 
.mediaInfoCriticRatingFresh, 
.mediaInfoCriticRatingRotten, 
.mediaInfoCriticRating {
	color: rgba(255,255,255,0); 
	width: 0; 
	height: 0; 
	padding-top: 0; 
	padding-left: 0; 
	padding-bottom: 0; 
	padding-right: 0; 
	margin-top: 0; 
	margin-left: 0; 
	margin-right: 0; 
	margin-bottom: 0; 
	background-size: 0; 
	border: 0; 
	border-radius: 0; 
	display: none; 
	min-height: 0; 
	font-size: 0;
} 
